* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375C;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Sora", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

/* ==================== common ====================*/

.container {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 205px;
    line-height: 60px;
    border-radius: 999px;
    background: #2E80CE;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
}

.btn:hover {
    opacity: 0.9;
}

.section-heading {
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.section-desc {
    margin-top: 18px;
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

/* ==================== header ====================*/

.header {
    padding-top: 30px;
    background-color: var(--header-bg);
    min-height: 100vh;
}

/* =============== header-top ===============*/

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header__action--login {
    padding: 8px 21px;
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.navbar__link:hover,
.navbar__link--active,
.header__action--login:hover {
    color: #FFF;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    top: -2px;
    right: 8px;
}

.header__action--login {
    margin-right: 28px;
}

.header__action--signup {
    min-width: 144px;
    line-height: 44px;
    font-size: 1.6rem;
}

/* =============== hero ===============*/

.hero {
    padding-top: 76px;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 44%;
}

.hero__heading {
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
    column-gap: 38px;
}

.hero__phone {
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero__media {
    flex: 1;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    border-radius: 6px;
    object-fit: cover;
}

.hero__img--large {
    width: 330px;
    height: 540px;
    z-index: 1;
}

.hero__img--small {
    margin-left: -6px;
    width: 210px;
    height: 410px;
}

/* ==================== service ====================*/

.service {
    padding: 170px 0;
    background-color: #fff;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    max-width: 468px;
    margin: 0 auto;
}

.service__row {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service-item {
    padding: 21px;
    display: flex;
    max-width: 470px;
    border-radius: 10px;
    background: #FFF;
    transition: 0.25s;
}

.service-item:hover {
    position: relative; 
    /* khi dùng position: relative thì phần tử bị lôi khỏi luồng thông thường và năm trên mặt phẳng cao hơn, khiến cho phần bóng không bị che bởi phần tử sau nó, thử bỏ đi mà xem */
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item__icon {
    margin-right: 19px;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #EFF6FD;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
}

.service-item:hover .service-item__icon {
    color: #fff;
    background-color: #2E80CE;
}

.service-item__heading {
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

.service-item__desc {
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.service__btn {
    margin-top: 55px;
}