* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375C;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Sora", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

/* ==================== common ====================*/

input, textarea, select, button {
    font-family: inherit;
    font-size: inherit;
}
/* đặt những thuộc tính cần thiết của những thẻ này là kế thừa vì có 1 số thẻ không kế thừa dẫn đến sai font như nút Subscribe ở footer */

.container {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 205px;
    line-height: 60px;
    border-radius: 999px;
    background: #2E80CE;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
}

.btn:hover {
    opacity: 0.9;
}

.section-heading {
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.section-desc {
    margin-top: 18px;
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.control {
    display: flex;
    column-gap: 18px;
    align-items: center;
}

.control__btn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575F66;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.25s;
}

.control__btn:hover {
    background-color: #2E80CE;
    border-color: #2E80CE;
    color: #fff;
}

.control-icon--next {
    rotate: 180deg;
}

/* ==================== header ====================*/

.header {
    padding-top: 30px;
    background-color: var(--header-bg);
    min-height: 100vh;
}

/* =============== header-top ===============*/

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header__action--login {
    padding: 8px 21px;
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.navbar__link:hover,
.navbar__link--active,
.header__action--login:hover {
    color: #FFF;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    top: -2px;
    right: 8px;
}

.header__action--login {
    margin-right: 28px;
}

.header__action--signup {
    min-width: 144px;
    line-height: 44px;
    font-size: 1.6rem;
}

/* =============== hero ===============*/

.hero {
    padding-top: 76px;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 44%;
}

.hero__heading {
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
    column-gap: 38px;
}

.hero__phone {
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero__media {
    flex: 1;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    border-radius: 6px;
    object-fit: cover;
}

.hero__img--large {
    width: 330px;
    height: 540px;
    z-index: 1;
}

.hero__img--small {
    margin-left: -6px;
    width: 210px;
    height: 410px;
}

/* ==================== service ====================*/

.service {
    padding: 170px 0;
    background-color: #fff;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    max-width: 468px;
    margin: 18px auto 0;
}

.service__row {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service-item {
    padding: 21px;
    display: flex;
    align-items: center;
    max-width: 470px;
    border-radius: 10px;
    background: #FFF;
    transition: 0.25s;
}

.service-item:hover {
    position: relative; 
    /* khi dùng position: relative thì phần tử bị lôi khỏi luồng thông thường và năm trên mặt phẳng cao hơn, khiến cho phần bóng không bị che bởi phần tử sau nó, thử bỏ đi mà xem */
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item__icon {
    margin-right: 19px;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #EFF6FD;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
}

.service-item:hover .service-item__icon {
    color: #fff;
    background-color: #2E80CE;
}

.service-item__heading {
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

.service-item__desc {
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.service__btn {
    margin-top: 55px;
}

/* ==================== work ====================*/

.work {
    padding: 100px 0;
    background-color: #F6FBFF;
}

.work__desc {
    max-width: 468px;
}

.work__list {
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.work-item {
    padding: 43px;
    border-radius: 4px;
    background: #fff;
    border: 16px solid #EAF6FF;
    transition: 0.25s;
}

.work-item:hover {
    border-color: #2E80CE;
    transform: translateY(-16px);
}

.work-item__heading {
    margin-top: 18px;
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}
.work-item__desc {
    margin-top: 28px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.work-item__more {
    display: inline-block;
    margin-top: 18px;
    color: #2E80CE;
    font-size: 1.6rem;
    line-height: 1.75;
}

/* ==================== about ====================*/

.about {
    margin-top: 85px;
    padding: 85px 0;
}

.about__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__media {
   padding-bottom: 121px;
   /* tránh bức ảnh nhỏ bị lòi ra khỏi khối */
}

.about__content {
    width: 40%;
}

.about__img {
    position: relative;
}

.about__img--big {
    display: flex;
    /* thường những thẻ inline sẽ có 1 khoảng nhỏ xíu bị thừa bên dưới, thêm df để mất khoảng thừa đi */
    width: 512px;
    height: 370px;
    border-radius: 6px; 
    object-fit: cover;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.about__img--small {
    width: 332px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
    position: absolute;
    top: 121px;
    left: 238px;
}

.about__btn {
    margin-top: 38px;
}

/* ==================== team ====================*/

.team {
    padding: 85px 0;
}

.team__header {
    text-align: center;
    margin: 0 auto;
}

.team__btn {
    margin-top: 38px;
}

.team-item:hover .team-item__img {
    transform: scale(1.1);
}

.team__list {
    margin-top: 70px;
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}

.team-item__img--bg {
    padding-top: 28px;
    border-radius: 6px;
    background: #EAF6FF;
    overflow: hidden;
}

.team-item__img {
    display: flex;
    max-width: 100%;
    height: 318px;
    object-fit: cover;
    transition: 0.5s;
}

.team-item__name {
    margin-top: 12px;
    color: #10375C;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.75;
}

.team-item__desc {
    color: #575F66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.86;
}

.team__control {
    margin-top: 38px;
    justify-content: center;
}

/* ==================== install ====================*/

.install {
    padding: 85px 0;
}

.install__inner {
    margin-top: 95px;
    padding: 0 70px;
    height: 427px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    background: #2E80CE;
    position: relative;
}

.install__img {
    width: 284px;
    height: 522px;
    object-fit: cover;
    position: absolute;
    /* đừng thắc mắc tại sao chữ lại đi xuyên qua ảnh mà không chạm đến rồi dừng như ở trên vì dùng position relative rôi, bị bay khỏi luồng bth rồi */
    bottom: 0;
}

.install__content {
    width: 57%;
}

.install__heading {
    max-width: 489px;
    color: #fff;
}

.install__desc {
    margin-top: 18px;
    color: #fff;
}

.install__row {
    margin-top: 38px;
    display: flex;
    column-gap: 28px;
}

/* ==================== about ====================*/

.blog {
    padding: 85px 0;
}

.blog__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__content {
    width: 40%;
}

.blog__heading {
    max-width: 470px;
}

.blog__more {
    display: inline-block;
    margin-top: 28px;
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.56;
    text-decoration-line: underline;
    text-underline-offset: 5px;
    /* đẩy thanh gạch chân xuống dưới cho nó cắt qua chữ g */
}

.blog__control {
    margin-top: 28px;
}

.blog__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}

.blog-item {
    max-width: 270px;
    overflow: hidden;
    border-radius: 12px;
    border: 1px solid #E8EBEE;
    background: #FFF;
    transition: 0.25s;
}

.blog-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}

.blog-item__images {
    height: 172px;
    overflow: hidden;
    /* ảnh sẽ không bị lòi xuống dưới vì  cái over ở otrng item chỉ giúp ko lòi ra khỏi item thôi, nó vẫn lòi xuống dưới và che mất cái chữ */
}

.blog-item__img {
    width: 270px;
    height: 172px;
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
    transition: 0.25s;
}

.blog-item:hover .blog-item__img {
    transform: scale(1.1);
}

.blog-item__body {
    padding: 18px 22px;
}

.blog-item__heading {
    color: #10375C;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.62;
}

.blog-item__desc {
    margin-top: 10px;
    color: #575F66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71;
}

.blog-item__more {
    display: inline-block;
    margin-top: 12px;
    color: #10375C;
    font-size: 1.4rem;
    line-height: normal;
}

.blog-item__more:hover {
    color: #2E80CE;
}

/* ==================== appointment ====================*/

.apointment {
    margin-top: 85px;
}

.appointment__inner {
    padding: 100px 178px;
    text-align: center;
    background-color: #F6FBFF;
}

.appointment__heading::after {
    content: "";
    display: block;
    margin: 18px auto 0;
    width: 136px;
    height: 2px;
    background: #2E80CE;
}

.appointment__desc {
    max-width: 617px;
    margin: 18px auto 0;
}

.appoitment__btn {
    margin-top: 38px;
}

/* ==================== footer ====================*/

.footer {
    margin-top: 170px;
    padding: 100px 0 42px;
    background-color: #10375C;
    font-family: "Open Sans", sans-serif;
}

.footer__top {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    column-gap: 78px;
}

.footer__desc {
    margin-top: 21px;
    color: #A9B3BB;
    font-size: 1.6rem;
    line-height: 1.75;
}

.footer__heading {
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.footer__list {
    margin: 20px 0 28px;
}

.footer-item +.footer-item {
    margin-top: 10px;
}

.footer__link {
    color: #A9B3BB;
    font-size: 1.4rem;
    line-height: 1.86;
    white-space: nowrap;
    /* khiến cho chữ không bị xuống dòng */
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__social {
    margin: 20px 0 28px;
    display: flex;
    gap: 10px;
}

.footer__social--btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #2E80CE;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__social--btn:hover {
    color: #fff;
    background-color: #2E80CE
}

.footer-form {
    margin-top: 10px;
    display: flex;
    column-gap: 12px;
}

.footer-form__input {
    padding-left: 10px;
    width: 212px;
    height: 46px;
    border-radius: 4px;
    border: 1px solid #406181;
    color: #fff;
    background-color: transparent;
    outline: none;
    /* bỏ viền khi mà click vào ô nhập liệu */
}

.footer-form__input::placeholder {
    color: #9CA8B1;
    font-size: 1.4rem;
    line-height: 1.86;
}

.footer-form__submit {
    width: 108px;
    height: 46px;
    border-radius: 4px;
    background: #2E80CE;
    border: none;
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86;
}

.footer-form__submit:hover {
    cursor: pointer;
    opacity: 0.9;
}

.footer__copyright {
    border-top: 1px solid #406181;;
}

.footer__copyright--text {
    margin-top: 28px;
    color: #AAB3BA;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.86;
}